<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="./static/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="./static/css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <title>Prediction Visualization</title>
  </head>
  <body>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <h3>Tree visualisation</h3>
      </div>
    </div>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <img
          src="../static/uploaded_viz/tree_view{{length}}-{{weight}}-{{larvelStage}}-{{temperature}}.svg"
        />
      </div>
    </div>
  </body>
</html>
